body{
    margin: 0px;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    /*background-color: blueviolet; */
}

.header {
    height: 100px;
    width: 100%;
    border-bottom: 3px #32b9cd solid;
    align-items: center;
}

.titulo{
    margin: 0px;
    color: #32b9cd;
}

.container {
    width: 80%;
    margin: auto;
    display: flex; 
}

.header .container{
    height: 100%;
    /*border: 3px solid red; */
    justify-content: space-between; /* jogar as lists para o canto*/
    align-items: center;

}

.navbar {
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: orange;
    display: flex;
    padding: 0;
}

/* BANNER */

.banner {
    height: 500px;
    background-image: url("../iot-revolucionario-fabo/img/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .card {
    background-color: rgb(255, 254, 254);
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.card{
    margin-top: 20px;
}

.btn {
    font-family: monospace;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    background-color: #e75459;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 15px;
}

input {
    height: 30px;
    border: 2px solid  #e75459;
    border-radius: 4px;

}

.banner .card {
    color: #e75459;
}